@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Isometra&family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --blue: blue;
    --fondo-conteiner:#f5f5f5;
    --fondo-logo:#dfe4e8b2;
    --primary:#081326 ;
    --second:#00B8FF;
    --second-p:#1fa1d4;
    --txt-second:#E6F6FF;
    
}


body{
    font-family: 'Pixelify Sans', sans-serif;
    background: var(--primary);
    color: aliceblue;

}


/*----------------------
    NAV
-----------------------*/

.navegador,
.navegador .bg-1 {
    background: var(--fondo-logo) !important;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);

}
.nav li:hover{
    background: red;
    border: 2px solid purple;
    border-bottom: none;
    border-radius: 8px 8px 0 0;

}





/*----------------------
    BANNERS
------------------------*/

.fondo {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    padding: 0 !important;
    
}

.fondo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

/*letras de fondo*/
.fondo h3,
.fondo div {
    position: relative;
    z-index: 1;
    color: white;
    padding-left: 20px;
}
/*descripcion*/
.fondo .p2{
    color:white;
    z-index: 1;
    padding: 0 50px;
    max-width: 500px;
    
}


.Titulo{
    display: flex;
    padding-left: 50px;
}


.Titulo h3{
    font-family: "Isometra", serif;
     font-size: 60px;
     font-weight: 500;
     color: var(--second);
     text-shadow:0 0 8px #92d5fc;

}
.Titulo p{
    color: var(--second-p);
    text-shadow:0 0 8px #0065b3;

    margin: 20px 0 0 -9px;
    font-size: xx-large;


}

/*bienvenida*/

.bienvenida {
    display: flex;
    align-items: center;
    padding-left:10px ;


   
    gap: 8px;

    color: white;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;

    text-shadow: 0 0 8px var(--second);
}


.flecha {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 6px var(--second);
    
}



/*------------------
    LOGO
--------------------*/
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    min-width: 90px;
    height: 90px;
    margin-right: 5px;
}


.logo-container img{
    
    border-radius:50% ;
    width: 90px;
    height: 80px;   
    
}




/*--------------------
    EMPRESA
-----------------------*/
/*contenedor*/
.present-container{
    
    justify-content: center;
    display: flex;
    align-items: center;

    background: var(--fondo-logo);
    max-height: 100px;
    padding:0 8px ;
    margin: 0 30px 0 10px;
    border-radius: 30px;
    
    box-shadow: 0 4px 15px rgba(8, 46, 199, 0.2);
}

/*primera letra*/
.present-container a{
    
     font-family: "Isometra", serif;
     font-size: 60px;
     font-weight: 500;
     color: var(--second);

}
/*segundas-letras*/
.present-container p{
    color: var(--second-p);
    font-size: xx-large;
    margin-top: 30px;
    margin-left: -10px;
   
    text-shadow: 0 5px 10px rgba(5, 16, 79, 0.3);
/*          X Y  desenfoque  color */
   
}


/*texto*/
.present-txt{
    text-decoration: none;
    font-size: xx-large ;
    


}

/*----------------------------------
    CATEGORIAS
------------------------------------*/

/*contenedor*/
.categorias {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 14px;

    padding: 16px;
    background: #031326;
    border: 1px solid #075080;
    border-radius: 10px;
    margin: 10px;
}

/*tarjeta*/
.categoria-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    padding: 12px 6px;

    background: #041B32;
    border: 1px solid #073B63;
    border-radius: 8px;

    color: #7FE8FF;
    text-align: center;
    text-decoration: none;

    transition: 0.3s ease;
}

/*iconos*/
.icono {
    width: 50px;
    margin-bottom: 6px;
    filter: drop-shadow(0 0 5px #00BFFF);
}

/* titulo*/
.categoria-tarjeta h3 {
    font-size: 15px;
    margin: 0 0 5px;
    color: #7FE8FF;
}

/*descripcion*/
.categoria-tarjeta p {
    font-size: 11px;
    margin: 0;
    color: #A6DDF5;
}


/*-----------------------
*/


/*-----------------------------------
    CONTENIDO
-------------------------------------*/
/*-CONTAINER*/
.contenido{
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 100%;

}


.destacados{
    height: 300px;
    width: auto;
}




/*---cuadro1--------------------------*/

.contenido .cuadro1{

padding: 25px;
margin: 20px 10px;

    background: #041B32;
    border: 1px solid #073B63;
    border-radius: 8px;

    color: #7FE8FF;
    text-align: center;
    text-decoration: none;

    transition: 0.3s ease; 

}

.card-body{
    width: 400px;
    text-align: left;
    border-bottom: var(--second);
    border:none ;
    
}

.card-body h4{
    font-size:18px ;
}
.card-body p{
    font-size: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    color: var(--second);
  
   

    background: none;
}

/*imagen*/
.card img {
    width: 120px;
    max-width: 35%;
    height: 90px;
    border-radius: 10px;

    flex-shrink: 0;
    object-fit: cover;
}
.fechaN{
    color:white;
}


/*---cuadro2--------------------------*/
.contenido .cuadro2{

max-width: 400px;
padding: 30px;
margin: 20px 10px 20px 0;

    background: #041B32;
    border: 1px solid #073B63;
    border-radius: 8px;

    color: #7FE8FF;
    text-align: center;
    text-decoration: none;

    transition: 0.3s ease;

}



/*--cuadro3*/
.contenido .cuadro3{
    margin: 20px 10px 20px 0;
    padding: 25px;

    background: #041B32;
    border: 1px solid #073B63;
    border-radius: 8px;

    color: #7FE8FF;
    text-align: center;
    text-decoration: none;

    transition: 0.3s ease;
}
.cuadro3 h4{
    padding: 3px;
}
.card-body a{
   margin-top: 50px;
}



/*-----------------------------------
    PASAR CURSOR
------------------------------------*/

/*-Categorias-------------*/

.categoria-tarjeta:hover {
    background: #062B49;
    border-color: var(--second);

    box-shadow:
        0 0 8px #00BFFF55,
        inset 0 0 12px #00BFFF15;

    transform: translateY(-3px);
}

/*----------------------------------
    PIE DE PAGINA
------------------------------------*/

/*---FOOTER */
.footer {
    position: relative;
    background: #020D1A;
    color: #A6DDF5;
    padding: 45px 8% 20px;
    border-top: 1px solid #075080;
    overflow: hidden;
}

/*---linea superior */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 1px;
    background: #00BFFF;
    box-shadow: 0 0 12px #00BFFF;
}

.footer-contenido {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto 35px;
}

/*---marca */
.footer-marca h2 {
    color: #7FE8FF;
    font-size: 30px;
    margin: 0 0 12px;
    text-shadow: 0 0 8px #008BFF66;
}

.footer-marca h2 span {
    color: #00BFFF;
}

.footer-marca p {
    max-width: 300px;
    font-size: 13px;
    line-height: 1.8;
    color: #91AFC4;
}

/*----enlaces */
.footer-enlaces {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-enlaces h3 {
    color: #00BFFF;
    font-size: 14px;
    margin: 5px 0 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-enlaces a {
    color: #A6DDF5;
    font-size: 13px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-enlaces a:hover {
    color: #7FE8FF;
    text-shadow: 0 0 8px #00BFFF;
    transform: translateX(4px);
}

/*---frase */
.footer-frase {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #07304B;
    border-bottom: 1px solid #07304B;
    color: #00BFFF;
    font-size: 11px;
    letter-spacing: 3px;
}

/*parte inferior */
.footer-inferior {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    max-width: 1200px;
    margin: 18px auto 0;
}

.footer-inferior p {
    margin: 0;
    font-size: 11px;
    color: #66859B;
}
/*-----------------------------
    BOTONES
-------------------------------*/
/*----------------------------
    Para comenzar
*/
.btn-comenzar a {
    background: var(--second);
    color: var(--primary);

    border: 2px solid var(--second);
    border-radius: 8px;

    padding: 8px 8px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 0 30px;

    cursor: pointer;
    transition: all 0.3s ease;

    /* Brillo cian */
    box-shadow: 0 0 10px #00BFFF66;
}

/*--efecto al pasar el mouse */
.btn-comenzar a:hover {
    background: #7FE8FF;
    border-color: #FFFFFF;
    color: #04244b;

    box-shadow:
        0 0 10px var(--second),
        0 0 25px #00BFFF99;

    transform: translateY(-2px);
}

/*--efecto al presionar */
.btn-comenzar a:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px var(--second);
}


/*----------------------------
    Ir al lore
*/

.card-body a:hover{
     background: #7FE8FF;
    border-color: #FFFFFF;
    color: #04244b;

    box-shadow:
        0 0 10px var(--second),
        0 0 25px #00BFFF99;

    transform: translateY(-2px);

}
/*-----------------------------
    Musica
*/

#btnMusica {
    background: transparent;
    color: var(--second);
    border: 2px solid var(--second);
    padding: 6px 15px;
    margin: 5px;
    border-radius: 8px;
    transition: 0.3s;
}

#btnMusica:hover {
    background: var(--second);
    color: black;
}